@css {
  @import url(https://fonts.googleapis.com/css?family=IM+Fell+English:400,400italic);
  @import url(https://fonts.googleapis.com/css?family=Raleway:300);
}

@font-face
  font-family Iosevka
  src url(http://be5invis.github.io/Iosevka/iosevka-regular.woff)

body
  background  radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(207,207,207,1) 100%);

*
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6
  font-weight 400
  font-family 'IM Fell English', serif
  margin-bottom 1em

body
  color #444
  font-family 'Raleway', sans-serif
  font-size 20pt

.step
  width 1000px
  text-align center
  transition opacity .5s

ul
  width 80%
  margin 0 auto
  text-align left

li
  padding 10px 0

pre
  font-family Iosevka, monospace
  text-align left

  .highlight
    color #e44
    .highlight
      color #4a4
  .highlight-2
    color #44a

code
  font-family Iosevka, monospace

img
  width 100%

.future.future-hide
  opacity 0
